.shop_card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(108, 108, 108, 0.438);
    margin: 15px;
    padding: 0 20px;
    width: 70vw;
}

.card_title {
    font-size: 26px;
    color: black;
}

.card_color {
    color: #868686;
}

.card_img {
    width: 100px;
}

.card_sale {
    color: rgb(255, 255, 255);
}

.card_price {
    color: red;
    font-size: 24px;
    font-weight: 400;
}